body{
    background-image: url(./grey\ background.jpg);
}
h1{
    text-align: center;
    color: blue;
}
marquee{
    font-size: large;
    font-weight: bold;
    color: green;
    margin-bottom: 40px;
}
#b1{
    background-color: rgb(111, 111, 255);
    margin-left: 480px;
    font-weight: bold;
}
#b2{
    background-color: antiquewhite;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}
#b3{
    background-color: rgb(4, 1, 9);
    font-weight: bold;
}